<div class="login-container">
    <h1>Login</h1>
 <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
      <div class="form-group">
        <label for="username">username<span>*</span></label>
        <input type="username" id="username" name="username" formControlName="username" required>
        <div *ngIf="username?.invalid && (username?.dirty || username?.touched)" class="alert alert-danger">
            <div *ngIf=" username?.errors?.['required']">username is required</div>
        </div>
      </div>
      <div class="form-group iconInput">
        <label for="password">Password<span>*</span></label>
        <input type="password" id="password" name="password" formControlName="password">
      
        
          <div *ngIf="password?.errors?.['required']">Password is required.</div>
   
      
      </div>
 
      <div>
        <button class="btn btn-primary" type="submit" [disabled]="loginForm.invalid">Login</button>
      
      </div>
  
    </form> 

   
  </div>



 